<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="abuseipdb-verification" content="3IuG6dik">
    <link rel="stylesheet" href="/style.css">
    <title>calliah.xyz :: {% block title %}{% endblock title %}</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sleepdealer's Pharmacy :: {% block og_title %}{% endblock og_title %}">
    <meta property="og:url" content="{{ current_url | default(value=config.base_url) }}">
    <meta name="theme-color" content="#FFB6C1">
    {% block meta %}{% endblock meta %}
</head>
<body>
<div id="wrapper">
    <header>
        <div id="externallinks">
            <nav aria-label="External links">
                <ul>
                    {% for link in config.extra.header_links %}
                    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div id="headerflex">
            <div id="headers">
                <a href="/" id="TheTitle"><h1>{% block heading %}{% endblock heading %}</h1></a>
                <nav id="articles" aria-label="Site pages">
                    <ul>
                        {% for article in config.extra.header_articles %}
                        <li><a href="{{ article.url }}">{{ article.name }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <a href="/"><img alt="{{ config.extra.profile_name }}" src="{{ config.extra.profile_image }}" title="My pfp"></a>
        </div>
    </header>
    <main id="content">{% block content %}{% endblock content %}</main>
    <footer>
        <p>this site is javascript free :&#41;<br>
        source code is on my <a href="https://github.com/calliah333/psite">github</a></p>
    </footer>
</div>
</body>
</html>
